%h1 カート

%table.table.table-striped
  %thead
    %tr
      %th.w-25 商品名
      %th.w-25 個数
      %th
  %tbody
    - @cart_products.each do |cart_product|
      %tr
        %td= cart_product.name
        %td= cart_product.quantity
        %td.btns
          = link_to '詳細', cart_product, class: 'btn btn-primary'
          = link_to '編集', edit_product_cart_product_path(cart_product.product, cart_product), class: 'btn btn-primary'
          = link_to '削除', cart_product, method: :delete, data: { confirm: '本当に実行しますか？' }, class: 'btn btn-danger'
