%h1 商品一覧管理

%table.table
  %thead
    %tr
      %th ID
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.id
        %td= link_to 'Show', [:admin, product]
        %td= link_to 'Edit', edit_admin_product_path(product)
        %td= link_to 'Destroy', [:admin, product], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to '商品追加', new_admin_product_path, class: 'btn btn-primary'
