
%table.table.table-striped
  %tbody
    %tr
      %th.w-25 ID
      %td= @product.id
    %tr
      %th= t_model('product.name')
      %td= @product.name
    %tr
      %th= t_model('product.price')
      %td= @product.price
    %tr
      %th= t_model('product.description')
      %td= simple_format(@product.description)
    %tr
      %th= t_model('product.image')
      %td
        = image_tag @product.image.url, class: 'w-50' if @product.image?
        = image_tag 'no_image.png', class: 'w-50' unless @product.image?

= link_to '編集', edit_admin_product_path(@product), class: 'btn btn-primary'
\|
= link_to '一覧', admin_products_path, class: 'btn btn-primary'
