%h1 商品一覧

%table.table.table-striped
  %thead
    %tr
      %th.w-25= t_model('product.image')
      %th.w-25= t_model('product.name')
      %th.w-25= t_model('product.description')
      %th
  %tbody
    - @products.each do |product|
      %tr
        %td
          = image_tag product.image.url, class: 'w-100' if product.image?
          = image_tag 'no_image.png', class: 'w-100' unless product.image?
        %td
          = product.name
          .mt-1
            = price_unit(product.price)
        %td= simple_format(product.description)
        %td.btns
          = link_to '詳細', new_product_cart_product_path(product), class: 'btn btn-primary'

= paginate @products
