!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title さくらマーケット
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      %header#header
        %p#header-logo= link_to('さくらマーケット', root_path)
        %ul#header-nav
          - if user_signed_in?
            - if current_user.admin?
              %li.dropdown
                = link_to '管理者用', '#', {class: 'dropdown-toggle', 'data-toggle': 'dropdown'}
                .dropdown-menu
                  = link_to '商品一覧', admin_products_path
            %li= link_to '配送情報変更', edit_my_user_path
            %li= link_to "ログアウト", destroy_user_session_path, method: :delete
      #container
        = yield